.page {
    padding: 48px 0 0 48px;
	background: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    flex: 30%;
    min-width: 350px;
    height: calc((100vh - 200px) / 3);
}